h1= title
p Welcome to #{title}
div.connect-wrapper(hidden)
    input.peerName(placeholder="Your Name")
    button(class="connectBtn") Connect
div.connected-peers
    button(class="shareBtn") Share Screen with specified
    ul.peers-list
