doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://localhost:35729/livereload.js')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/libs/peerjs/peer.min.js")
    script(src="/javascripts/app.js")
  body!= body
